<div class="task">
    <div class="row">
        {{#each tasks}}
            <div class="col-md-3">
                <div class="card rounded-top border border-primary text-center my-3" style="height: 312px;">
                    <div class="card-header">
                        <h4 class="card-title">{{title}}</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            <div class="form-group">
                                <textarea name="description" class="form-control" readonly="true">{{description}}</textarea>
                            </div>
                            <div class="form-group mt-2">
                                <input type="date" name="deadline" class="form-control" value="{{deadline}}" readonly="true" />
                            </div>
                            <div class="form-group mt-5">
                                <input type="hidden" name="_method">
                                <button class="btn btn-primary btn-block" formaction="/tasks/edit/{{_id}}">Edit</button>
                                <button class="btn btn-danger btn-block" formaction="/tasks/delete/{{_id}}?_method=DELETE">Delete</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>